body {
    margin: 0;
    background-image: url('https://barbie76g.github.io/group-j-coursework-web/images/about/image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: rgb(45, 77, 114);
}

.navbar ul {
    background-color: rgb(45, 77, 114);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    color: white;
    padding: 15px 20px;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(19, 18, 80);
}

.container-fluid p {
    background-color: rgb(45, 77, 114);
    border-radius: 20px;
    color: white;
    max-width: 350px;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(45, 77, 114);
    text-align: center;
}

.container div {
    margin: 15px;
    min-width: 150px;
}

.container p {
    color: white;
}

@media (max-width: 768px) {

    .container-fluid {
        padding: 20px;
    }

    .container-fluid p {
        max-width: 100%;
    }

    .container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .navbar a {
        padding: 12px;
    }

    .container-fluid p {
        padding: 20px;
        font-size: 0.95rem;
    }
}