body {
    margin: 0;
    background-image: url('https://barbie76g.github.io/group-j-coursework-web/images/about/image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(45, 77, 114);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(19, 18, 80);
}

.cont-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 20px;
    justify-content: center;
}

.cont-fluid img {
    border-radius: 500px;
    max-width: 100%;
    height: auto;
}

.cont-fluid p {
    text-align: center;
    padding: 30px;
    background-color: rgb(45, 77, 114);
    border-radius: 20px;
    color: white;
    max-width: 350px;
    margin: 0;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(45, 77, 114);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.cont div {
    margin: 15px;
    min-width: 150px;
}

.cont p {
    color: white;
}

@media (max-width: 768px) {

    .navbar ul {
        flex-direction: column;
    }

    .cont-fluid {
        padding: 20px;
    }

    .cont-fluid p {
        max-width: 100%;
    }

    .cont {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .navbar a {
        padding: 12px;
    }

    .cont-fluid p {
        padding: 20px;
        font-size: 0.95rem;
    }
}