body{
    margin:0px;
    background-color: rgb(214, 244, 252);
}

.header {
  width: auto;
  flex-direction: row;
  padding: 15px 40px;
  background: #0a1f3d;
  color: #f4d47c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
}
.navbar {
  transition: 0.3s;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color:#0a1f3d;
  overflow: hidden;
  display: flex;
  

}
.navbar a{
  color: white;
  text-decoration:none;
  padding:15px ;
  display: block;
  text-align: justify;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  
}
.logo {
  font-size: 1.6rem;
  font-weight: 700;
}

.logo span {
  color: rgb(245, 245, 243);
}
.contact-section {
  padding: 60px 40px;
  display: flex;
  justify-content: center;
}
.contact-container {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
}
.contact-info h2,
.contact-form h2 {
  color: #0a1f3d;
  margin-bottom: 10px;
}
.info-box {
  background: #f2e7c9;
  padding: 15px;
  border-left: 5px solid rgb(80, 103, 110);
  margin-bottom: 15px;
  }
  .contact-form {
  background: white;
  padding: 25px;
  border-radius: 10px;
  }
  .contact-form label {
  font-weight: 600;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border: 1px solid #a1a0a0;
  border-radius: 5px;
}
.btn {
  background: #d4b68a;
  color: #082032;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s;
}
.btn:hover {
  background: #f1d99b;
}
.navbar .active {
  color: #f4d47c;
}

.form-msg {
  margin-bottom: 10px;
  color: red;
  font-weight: 600;
}
.footer {
  margin-top: 40px;
  padding: 20px;
  background: #082032;
  color: white;
  text-align: center;
}


