
header {
    
    background-position: center;
    height: 200px;
    text-align: center;
    text-decoration-color: rgb(231, 229, 223);
    color: rgb(235, 233, 228);
  }


body {
    margin: 20px;
    font-family: 'Verdana', sans-serif;
    background-image: url('img3.avif');
    text-decoration-color: goldenrod;
    color:rgb(186, 147, 222);
    padding-bottom: 10px; 
}

nav ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  text-decoration-color:black ;
}
nav a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
}

nav a:hover {
  color: goldenrod;
}
section {
    margin: 20px;
    padding: 10px;
    
   
}

section h2 {
    color:blue;
    font-size: 20px;
    margin-bottom: 10px;
}
section p {
    font-size: 16px;
    line-height: 1.5;
}
footer {
    background-color: #4a3791;
    color: white;
    text-align: center;
    padding: 0.5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
