
header {
    
    background-position: center;
    height: 200px;
    text-align: center;
    text-decoration-color: rgb(210, 167, 38);
    color: rgb(172, 135, 44);
  }


body {
    margin: 20px;
    font-family: 'Verdana', sans-serif;
    background-image: url('https://barbie76g.github.io/group-j-coursework-web/images/index/img3.jpg');
    background-size: cover;
    
    background-repeat: no-repeat;

    text-decoration-color: goldenrod;
    color: goldenrod;
    padding-bottom: 10px; 
}

nav ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
  text-decoration-color:black ;
}
nav a {
  text-decoration: none;
  color: white; 
  font-weight: bold;
}

a:hover {
  color: goldenrod;
}
section {
    margin: 20px;
    padding: 10px;
    
   
}

section h2 {
    color:blue;
    font-size: 20px;
    margin-bottom: 10px;
}
section p {
    font-size: 16px;
    line-height: 1.5;
}
footer {
    background-color: #4a3791;
    color: white;
    text-align: center;
    padding: 0.5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
