.body {
    background-color: blueviolet;
    padding: 20px;
    margin: 0;
    background-color: rgb(hwb(195 13% 71%), green, blue);
    background-image: url(image\ 17.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.maindiv {
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: burlywood;
}

.Class {
    border: black solid;
    background-color: white;
    width: 300px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 5%;
    box-shadow: 0 4px 8px;
    text-align: center;

}

.footer1 {
    background-color: purple;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 38px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 25px;
    text-align: center;
    border: solid 2px;
    flex-basis: 50%;


}

.footer2 {
    background-color: skyblue;
    display: flex;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 25px;
    text-align: center;
}

.footer3 {
    background-color: green;
    display: flex;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 38px;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 25px;
    text-align: center;
}

.Description-1 {
    font-size: 15px;
    color: purple;
}

.Description-2 {
    font-size: 15px;
    color: #ff6600;
}

.Description-3 {
    font-size: 15px;
    color: brown;
}

nav {
    background-color: rgb(123, 83, 203);
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: red;
    color: white;
    margin: 0 15px;
}

nav a:hover {
    color: darkblue;
}